@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1661159821532') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-player-play:before {
  content: "\e6a4";
}

.icon-player-pause:before {
  content: "\e6a5";
}

.icon-player-next:before {
  content: "\e6a6";
}

.icon-xiala:before {
  content: "\e6b9";
}

.icon-player-prev:before {
  content: "\e6ba";
}

.icon-collect:before {
  content: "\e602";
}

.icon-play-volume:before {
  content: "\e601";
}

.icon-player-all:before {
  content: "\e624";
}

